extends layout 
 
block content 
  h1= title 
  if (toshow == null)
    h2 no instance to view detail 
  else
  - let id  = toShow._id 
  - let name = toShow.name
  - let color = toShow.color  
  - let price  = toShow.price 
  div 
    div.row 
      div(class='dogAttr mr-3') Dog ID is: 
      div #{id} 
    div.row 
      div(class='dogAttr mr-3') Dog name is: 
      div #{name} 
    div.row 
      div(class='dogAttr mr-3') Dog Color is: 
      div #{color} 
    div.row 
      div(class='dogAttr mr-3') Dog price is: 
      div #{price}